body{
    display: flex;
  
    padding-top: 100px;
    flex-direction: column;
    align-items:center;
}
.findAboveIP{
    border-radius: 10px;
    background-color: rgb(101, 101, 160);
    padding: 10px 15px;
  margin-bottom: 30px;

}